@media only (max-width: 420px) and (max-height: 920px) {
	
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) and (max-width: 800px) {
/* стили */
	.port {
		max-width: 300px;
		margin: 20px;
	}

	.header_text {
		max-width: 90%;
	}

	.link {
		margin-bottom: 70px;
	}
}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
/* стили */

}
