* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url(https://img.freepik.com/free-vector/leaves-background-with-metallic-foil_79603-956.jpg?w=2000) no-repeat center center fixed;
}

* {
	font-family: 'Mulish', sans-serif;
	font-family: 'Rubik Distressed', cursive;
}

.port {
	display: block;
	margin: 100px;
	width: 1000px;
}

.header {
	font-size: 50px;
	margin-top: 50px;
}

.header_text {
	font-family: 'Mulish', sans-serif;
	font-size: 25px;
	margin-top: 30px;
}

.header_photo {
	width: 200px;
	height: 250px;
	border-radius: 200px;
}
