* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url(https://img.freepik.com/free-vector/leaves-background-with-metallic-foil_79603-956.jpg?w=2000) no-repeat center center fixed;
}

* {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-family: 'Mulish', sans-serif;
}

.port {
	display: block;
	margin-top: 100px;
	margin-left: 350px;
	width: 1000px;
}

.header {
	font-size: 50px;
	margin-top: 50px;
}

.header_text {
	font-family: 'Mulish', sans-serif;
	font-size: 25px;
	margin-top: 30px;
}

.header_photo {
	width: 200px;
	height: 250px;
	border-radius: 200px;
}

.link {
	margin-top: 50px;
}

.tg {
	text-decoration: none;
	font-family: 'Mulish', sans-serif;
	background-image: none;
	background: linear-gradient(90deg, rgba(159,162,193,0.6278886554621849) 0%, rgba(154,158,193,1) 0%, rgba(152,156,193,1) 15%, rgba(99,113,198,1) 90%);
	padding: 15px 7px;
	border-radius: 50px;
	color: white;
	text-transform: uppercase;
	font-size: 25px;
}
